body {
    font-family: Tahoma;
    background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
    color: white;
    text-align: center;
}

.login-box, .dashboard {
    background: rgba(0,0,0,0.6);
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    border: none;
    background: gold;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.logout {
    background: crimson;
    color: white;
}